.bg-d{
    background-color: rgb(17, 17, 17);
}
.mborder{
    border: solid rgb(104, 0, 0) 1px;
} 
.htmlp{
    width: 100%;
}
.cssp{
    width: 100%;
}
.jsp{
    width: 95%;
}
.bootp{
    width: 98%;
}
.reactp{
    width: 25%;
}
.linuxp{
    width: 35%;
}