.homeHead{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.name{
    color: red;
    font-size: 5rem;
    font-family: "Sofadi One", system-ui;
}
.pic{
    width: 75%;
    height: auto;
    
}
.des{
    line-height: 2.5; 
}
.bg-d{
    background-color: rgb(17, 17, 17);
}